<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some page</title>
    </head>
    <body>
        <hi>We are currently out of service</hi>
        <p>The site in currently under maintanance</p>
    </body>
</html>